.person {
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  &__photo-container {
    position: relative;
  }

  &__photo {
    display: block;
    width: $photo-size;
    height: $photo-size;
    border-radius: 50%;
    transition: 1s;
  }

  &:hover &__photo {
    position: relative;
    border-radius: 60px;
    width: 240px;
    height: 240px;
  }
  &__rank {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    background-color: $num-circle-color;
    width: $num-circle-size;
    height: $num-circle-size;
    border-radius: 50%;
    color: $num-color;
    font-size: $num-font-size;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    padding-top: 8px;
    padding-inline: 35px;
    z-index: 2;
    width: 100%;
    text-align: center;
  }

  &__name {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  &__extra {
    position: absolute;
    display: none;
    color: $accent-font-color;
  }
  &::after {
    content: "";
    display: none;
    position: absolute;
    top: -10px;
    z-index: 1;
    width: $card-width-hover;
    height: 287px;
    background-color: $background-card-color-hover;
    transition: 1s;
  }
  &:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    z-index: 1;
    width: 264px;
    height: 344px;
    background-color: $background-card-color-hover;
  }

  &:hover &__extra {
    display: flex;
    box-sizing: border-box;
    padding-inline: 35px;
    width: 100%;
    margin-top: 9px;
    justify-content: space-between;
  }

  &:hover &__photo-container {
    z-index: 2;
  }

  &__sport::after {
    content: ", ";
  }
  &__pay::before {
    content: "$";
  }

  &__pay::after {
    content: "M";
  }
}
