.person {
  width: $card-width;
  transition: transform 1s;
  position: relative;

  &:hover {
    background-color: $background-card-color-hover;
    margin: -10px -10px -20px;
    padding: 10px 10px 20px;
    transform: scale(1.2);
    border-radius: 10px;
    z-index: 2;

    .person__extra {
      opacity: 1;
      transform: scaleY(1);
      transition: 0s;
    }
  }

  &__photo-container {
    position: relative;
    display: flex;
  }

  &__photo {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__rank {
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    right: 10px;
    align-self: center;

    font-size: $num-font-size;
    line-height: $num-line-height;
    color: $num-color;
    width: 100%;
    background-color: $num-circle-color;
    width: $num-circle-size;
    height: $num-circle-size;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    display: block;
    text-align: center;
    color: inherit;
    font-size: inherit;
  }

  &__extra {
    text-align: center;
    color: $accent-font-color;
    margin-top: 8px;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    transition: transform 0.5s, opacity 1s;
  }

  &__sport::after {
    content: ",";
  }

  &__pay::before {
    content: "$";
  }

  &__pay::after {
    content: "M";
  }
}
