$min-page-width: 500px;
$tablet-width: 750px;
$small-desktop-width: 1000px;
$desktop-width: 1500px;
$photo-size: 200px;
$card-width: 200px;
$card-width-hover: 220px;
$card-heigh-hover: fit-content;
$main-font-family: Arial, sans-serif;
$main-font-size: 20px;
$main-line-height: 23px;
$main-font-color: #2f4f4f;
$accent-font-color: #000;
$background-card-color-hover: #eee;
$num-color: #8b0000;
$num-font-size: 16px;
$num-line-height: 1.15;
$num-circle-size: 32px;
$num-circle-color: #fff;
